body {
	padding-top: 40px;
	margin-bottom: 20px;
}

.doc-body
{
	padding-top: 0px;
}

.versionzero
{
	margin-top: 10px;
	text-align: center;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: solid 1px rgb(150,50,50);
}

.btn-jumbotron
{
	margin-right: 10px;
	margin-bottom: 10px;
}

.toc
{
	padding-top: 20px;
}

.aside
{
	padding: 10px;
}

.nt-danger
{
	border-left: 2px red solid;
	padding-left: 10px;
}

li > ul
{
	margin-left: 10px;
}

li > h4
{
	padding-bottom: 10px;
}

hr.footer {
	margin-top: 30px;
}