---
layout: default
---

<div class="container doc-body">
    <div class="row">
        <div class="col-md-9">
        <div class="bg-danger versionzero aside">
<span class="glyphicon glyphicon-warning-sign"></span> 
<em>ProxyFoo is currently v0.x.x, which means that the API is subject to change.</em>
</div>
            {{ content }}   
            {% include footer.html %}
        </div>
        <div class="col-md-3">
            <div class="toc hidden-print" data-spy="affix" role="navigation">
                <ul class="nav">
                    <li><h4><a href="/docs/quickstart/">Quick Start</a></li></h4>
                    <li><h4><a href="/docs/overview/">Overview</a></li></h4>
                    <li>
                        <h4><a href="/docs/duckproxies/">Duck Proxies</a></h4>
                    </li>
                    <li>
                        <h4><a href="/docs/safeproxies/">Safe Proxies</a></h4>
                    </li>                    
                    <li>
                        <h4><a href="/docs/interceptproxies/">Intercept Proxies</a></h4>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>


